* text=auto eol=lf
# cmd.exe reads batch files with CRLF
*.bat text eol=crlf

*.dll binary
*.exe binary
*.png binary
*.ico binary
*.pnr binary
*.nar binary
*.dau binary
*.zip binary
# encrypted dictionaries and save data of SATORI
*.sat binary
